body {
    background-image: url(../img/wall.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header div ul {
    font-size: 1.2em;
}

img.img_nova_logo {
    height: 30px;
}

main {
    font-size: 1.2em;
    border-radius: 5px;
}

footer div a img {
    height: 25px;
}

footer {
    font-size: 1.1em;
}

footer div.col-lg-8 a {
    float: right;
    margin-right: 2%;
}

hr.clear {
    clear: both;
    visibility: hidden;
}
