<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>NOVA - Каталог</title>

    <link rel="stylesheet" href="/static/catalog_style.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<head th:insert="blocks\head :: head"></head>

<body class="d-flex flex-column h-100">

<header th:insert="blocks\header :: header" class="sticky-top"></header>

<hr class="clear">

<main class="container flex-shrink-0 bg-light">
    <div class="pt-4"></div>
    <form method="post" action="/catalog/game_search">
        <div class="row">
            <div class="col-lg-4 mt-3">
                <div class="input-group">
                    <label for="genre" class="input-group-text">Жанр</label>
                    <select id="genre" name="genre" class="form-control">
                        <option value="Все">Все</option>
                        <option value="Action">Action</option>
                        <option value="Shooter">Shooter</option>
                        <option value="Стратегия">Стратегия</option>
                        <option value="RPG">RPG</option>
                        <option value="MMO">MMO</option>
                        <option value="Симулятор">Симулятор</option>
                        <option value="MMORPG">MMORPG</option>
                        <option value="Бесплатные">Бесплатные</option>
                        <option value="Платные">Платные</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4">
                <center>
                    <label for="date_range">Выберите год</label>
                    <input class="date-range" type="text" id="date_range" name="date_range" readonly>
                </center>
                <div class="mt-3">
                    <div id="slider_range"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <center>
                    <button class="btn btn-lg btn-outline-primary mt-2" type="submit">Поиск</button>
                </center>
            </div>
        </div>
    </form>
    <div class="row mt-5">
        <div class="col-lg-3" th:each="game : ${games}">
            <div class="card mb-4 rounded-3 shadow-sm">
                <a class="game" th:href="'/game/' + ${game.id} + '/'">
                    <img class="game-photo mb-3" th:attr="src=${'/img/' + game.poster}">
                    <h4 th:text="${game.name}" class="card-title pricing-card-title mx-3 text-break">Название</h4>
                </a>
                <ul class="list-unstyled mt-3 mb-3 mx-3">
                    <li>Жанр: <a th:text="${game.genre}" th:href="'/catalog/genre/' + ${game.genre}"></a></li>
                    <li>Дата: <a th:text="${game.year}" th:href="'/catalog/year/' + ${game.year}"></a></li>
                    <li th:if="${game.price}">Цена: <span th:text="${game.price}"></span> $</li>
                    <li th:unless="${game.price}">Бесплатно</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pt-4"></div>
</main>

<script type="text/javascript" src="/static/catalog_script.js"></script>

<hr class="clear">

<footer th:insert="blocks/footer :: footer" class="footer mt-auto py-1 bg-dark"></footer>

</body>

</html>
