<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>NOVA - Редактирование</title>
    <link rel="stylesheet" href="/static/game_add_edit_style.css">
</head>

<head th:insert="blocks\head :: head"></head>

<body class="d-flex flex-column h-100" style="">

<header th:insert="blocks\header :: header" class="sticky-top"></header>

<hr class="clear">

<main class="container-lg flex-shrink-0 bg-light">
    <form th:action="'/game/' + ${game.id} + '/edit/'" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-12 input-group flex-nowrap size-150">
                <label for="name" class="input-group-text">Название игры</label>
                <input id="name" name="name" type="text" class="form-control" placeholder="Название игры"
                       required th:value="${game.name}">
            </div>
            <div class="col-lg-6 size-150">
                <div class="input-group">
                    <label for="dev" class="input-group-text">Разработчик</label>
                    <input id="dev" name="dev" type="text" class="form-control" placeholder="Разработчик"
                           required th:value="${description.description}">
                </div>
                <div class=" input-group">
                    <label for="pub" class="input-group-text">Издатель</label>
                    <input id="pub" name="pub" type="text" class="form-control"
                           placeholder="Издатель" required th:value="${description.pub}">
                </div>
                <div class="input-group">
                    <label for="poster" class="input-group-text">Постер</label>
                    <input id="poster" name="poster" type="file" class="form-control"
                           accept=".jpg,.jpeg,.png">
                </div>
                <div class="input-group">
                    <label for="screenshots" class="input-group-text">Скриншоты</label>
                    <input id="screenshots" name="screenshots" type="file" class="form-control"
                           placeholder="Издатель" accept=".jpg,.jpeg,.png" multiple>
                </div>
            </div>
            <div class="col-lg-6 size-150">
                <div class=" input-group">
                    <label for="year" class="input-group-text">Год выпуска</label>
                    <input id="year" name="year" min="1952" max="2025" type="number" maxlength="4"
                           class="form-control" placeholder="Год выпуска" required th:value="${game.year}">
                </div>
                <div class="input-group">
                    <label for="version" class="input-group-text">Версия</label>
                    <input id="version" name="version" type="number" step="0.01" class="form-control"
                           placeholder="Версия" required th:value="${description.version}">
                </div>
                <div class="input-group">
                    <label for="price" class="input-group-text">Цена, $</label>
                    <input id="price" name="price" type="number" step="0.01" maxlength="1000"
                           class="form-control" placeholder="Цена" required th:value="${game.price}">
                </div>
            </div>
            <div class="col-lg-6 size-150">
                <div class="input-group">
                    <label for="genre" class="input-group-text">Выберите жанр</label>
                    <select id="genre" name="genre" class="form-control">
                        <option value="Action">Action</option>
                        <option value="Shooter">Shooter</option>
                        <option value="Стратегия">Стратегия</option>
                        <option value="RPG">RPG</option>
                        <option value="MMO">MMO</option>
                        <option value="Симулятор">Симулятор</option>
                        <option value="MMORPG">MMORPG</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6 size-150">
                <div class="input-group">
                    <label for="language" class="input-group-text">Выберите язык</label>
                    <select id="language" name="language" class="form-control">
                        <option value="Английский">Английский</option>
                        <option value="Испанский">Испанский</option>
                        <option value="Русский">Русский</option>
                        <option value="Французский">Французский</option>
                        <option value="Португальский">Португальский</option>
                        <option value="Китайский">Китайский</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-12">
                <h4>Системные требования</h4>
                <div class="row">
                    <div class="col-lg-6 size-200">
                        <div class="input-group">
                            <label for="os" class="input-group-text">Операционая система</label>
                            <input id="os" name="os" type="text" class="form-control"
                                   placeholder="Операционная система" required th:value="${description.os}">
                        </div>
                        <div class="input-group">
                            <label for="proc" class="input-group-text">Процессор</label>
                            <input id="proc" name="proc" type="text" class="form-control"
                                   placeholder="Процессор" required th:value="${description.proc}">
                        </div>
                        <div class="input-group">
                            <label for="videocard" class="input-group-text">Видеокарта</label>
                            <input id="videocard" name="videocard" type="text" class="form-control"
                                   placeholder="Видеокарта" required th:value="${description.videocard}">
                        </div>
                    </div>
                    <div class="col-lg-6 size-200">
                        <div class="input-group">
                            <label for="ram" class="input-group-text">Оперативная память</label>
                            <input id="ram" name="ram" type="number" step="1" min="0" max="1024"
                                   class="form-control" placeholder="Оперативная память" required
                                   th:value="${description.ram}">
                            <select id="switchram" name="switchram" class="form-control">
                                <option value="GB">GB</option>
                                <option value="MB">MB</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <label for="sound" class="input-group-text">Звуковое устройство</label>
                            <input id="sound" name="sound" type="text" class="form-control"
                                   placeholder="Звуковое устройство" required th:value="${description.sound}">
                        </div>
                        <div class="input-group">
                            <label for="place" class="input-group-text">Занимаемое место</label>
                            <input id="place" name="place" type="number" step="1" min="0" max="1024"
                                   class="form-control" placeholder="Занимаемое место" required
                                   th:value="${description.place}">
                            <select id="switchplace" name="switchplace" class="form-control">
                                <option value="GB">GB</option>
                                <option value="MB">MB</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <h4><label for="description">Описание</label></h4>
                <input type="text" maxlength="255" class="form-control" name="description" id="description" required
                          th:text="${description.description}"></input>
            </div>
            <div class="col-lg-12">
                <div class="input-group">
                    <label for="file" class="input-group-text">Добавить ссылку на игру</label>
                    <input id="file" name="file" type="text" class="form-control" placeholder="Добавить ссылку на игру"
                           required th:value="${description.file}">
                </div>
            </div>
        </div>
        <button class="btn btn-lg btn-primary" type="submit">Обновить</button>
        <button class="btn btn-lg btn-primary" type="reset">Очистить</button>
        <a class="btn btn-lg btn-primary" href="/catalog/all">Вернуть назад</a>
    </form>
    <div class="pt-3"></div>
</main>

<hr class="clear">

<footer th:insert="blocks/footer :: footer" class="footer mt-auto py-1 bg-dark"></footer>

</body>

</html>
