<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>NOVA - Регистрация</title>
    <link rel="stylesheet" href="/static/login_reg_profile_style.css">
</head>

<head th:insert="blocks\head :: head"></head>

<body class="d-flex flex-column h-100">

<header th:insert="blocks\header :: header" class="sticky-top" role="navigation"></header>

<hr class="clear">

<main class="container flex-shrink-0 bg-light form-signin">
    <div class="pt-5 pb-3">
        <center>
            <img class="mb-4" src="/img/nova_logo.png" alt="NOVA">
        </center>
    </div>
    <center>
        <div class="width">
            <h2>Регистрация</h2>
            <div class="row g-5">
                <div class="col-12">
                    <form class="needs-validation" method="post" action="/reg">
                        <div class="row g-3">
                            <div class="col-12">
                                <label for="username" class="form-label">Имя пользователя (максимум 20 символов)</label>
                                <div class="input-group has-validation">
                                    <input maxlength="20" type="text" class="form-control" id="username" name="username"
                                           placeholder="Имя пользователя" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="password" class="form-label">Пароль (минимум 8 символов)</label>
                                <div class="input-group has-validation">
                                    <input pattern=".{8,}" type="password" name="password"
                                           class="form-control" id="password" placeholder="Пароль" required>
                                </div>
                            </div>
                        </div>
                        <button class="w-100 my-3 btn btn-primary btn-lg" type="submit">Зарегистрироваться</button>
                    </form>
                    <div th:if="${message}" class="col-lg-12 w-100 alert alert-primary" role="alert">
                        <p th:text="${message}"></p>
                    </div>
                </div>
            </div>
        </div>
    </center>
</main>

<hr class="clear">

<footer th:insert="blocks/footer :: footer" class="footer mt-auto py-1 bg-dark"></footer>

</body>

</html>
