<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>NOVA - Профиль</title>
    <link rel="stylesheet" href="/static/login_reg_profile_style.css">
</head>

<head th:insert="blocks\head :: head"></head>


<body class="d-flex flex-column h-100">

<header th:insert="blocks\header :: header" class="sticky-top" role="navigation"></header>

<hr class="clear">

<main class="container flex-shrink-0 bg-light form-signin">
    <div class="pt-5 pb-3">
        <center>
            <img class="mb-4" src="/img/nova_logo.png" alt="NOVA">
        </center>
    </div>
    <div hidden>
        <span id="action" th:text="${action}"></span>
        <span id="shooter" th:text="${shooter}"></span>
        <span id="strategy" th:text="${strategy}"></span>
        <span id="rpg" th:text="${rpg}"></span>
        <span id="mmo" th:text="${mmo}"></span>
        <span id="simulator" th:text="${simulator}"></span>
        <span id="mmorpg" th:text="${mmorpg}"></span>
    </div>
    <div id="drawTop" style="width: 100%; height: 500px;"></div>
    <hr>
    <div class="row">
        <div th:if="${role == 'PUB'}" class="col-lg-12 input-group">
            <p class="form-control">Администратор</p>
            <p class="form-control">Дата</p>
            <p class="form-control">Премия</p>
        </div>
        <div th:if="${role == 'PUB'}" th:each="b : ${bonuses}" class="col-lg-12 input-group">
            <p class="form-control" th:text="${b.admin}"></p>
            <p class="form-control" th:text="${b.date}"></p>
            <p class="form-control" th:text="${b.bonus}"></p>
        </div>
        <div th:if="${role == 'PUB'}" class="col-lg-12 input-group">
            <p class="form-control">Суммарная премия</p>
            <p class="form-control"></p>
            <p class="form-control" th:text="${bonus}"></p>
        </div>
        <hr th:if="${role == 'PUB'}">
        <div class="col-lg-12 input-group">
            <p class="form-control">Название игры</p>
            <p class="form-control">Количество проданных игр</p>
            <p class="form-control">Стоимость одной копии</p>
            <p class="form-control">Выручка</p>
            <p class="form-control">Налог</p>
        </div>
        <div th:each="game : ${games}" class="col-lg-12 input-group">
            <p th:text="${game.gamename}" class="form-control">Название игры</p>
            <p th:text="${game.count}" class="form-control">Количество проданных игры</p>
            <p th:text="${game.price}" class="form-control">Стоимость одной копии</p>
            <p th:text="${game.income}" class="form-control">Выручка</p>
            <p th:text="${game.tax}" class="form-control">Выручка</p>
        </div>
        <div class="col-lg-12 input-group">
            <p class="form-control">Выручка со всех игр</p>
            <p class="form-control"></p>
            <p class="form-control"></p>
            <p th:text="${income}" class="form-control"></p>
            <p class="form-control"></p>
        </div>
    </div>
</main>

<hr class="clear">

<footer th:insert="blocks/footer :: footer" class="footer mt-auto py-1 bg-dark"></footer>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", {packages: ["corechart"]});
    google.charts.setOnLoadCallback(drawTop);

    function drawTop() {
        let action = parseFloat(document.querySelector('#action').textContent);
        let shooter = parseFloat(document.querySelector('#shooter').textContent);
        let strategy = parseFloat(document.querySelector('#strategy').textContent);
        let rpg = parseFloat(document.querySelector('#rpg').textContent);
        let mmo = parseFloat(document.querySelector('#mmo').textContent);
        let simulator = parseFloat(document.querySelector('#simulator').textContent);
        let mmorpg = parseFloat(document.querySelector('#mmorpg').textContent);
        let data = google.visualization.arrayToDataTable([
            ['Категория', 'Прибыль', {role: 'style'}, {role: 'annotation'}],
            ['Action', action, "gray", action],
            ['Shooter', shooter, "red", shooter],
            ['Strategy', strategy, "brown", strategy],
            ['RPG', rpg, "green", rpg],
            ['MMO', mmo, "blue", mmo],
            ['Симулятор', simulator, "purple", simulator],
            ['MMORPG', mmorpg, "black", mmorpg],
        ]);

        let options = {
            title: 'Прибыль по категориям',
            hAxis: {title: 'Категория'},
            vAxis: {title: 'Прибыль'},
            bar: {groupWidth: "80%"},
            legend: {position: "none"}
        };
        let chart = new google.visualization.ColumnChart(document.getElementById('drawTop'));
        chart.draw(data, options);
    }

</script>
</body>

</html>
